/* styles.css */

.assignments-container {
  margin: 20px;
}

.assignment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.assignment h3 {
  color: #333;
}

.assignment p {
  color: #666;
}

.assignment input[type="checkbox"] {
  margin-right: 5px;
}

.assignment input[type="submit"] {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Add more styles as needed */


/* Define styles for the card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between cards as needed */
  justify-content: center; /* Center cards horizontally */
  align-items: center;
}

/* Define styles for each card */
.card {
  /* Adjust the height of each card */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  padding: 10px; /* Add padding inside the card */
}

/* Define styles for card title */
.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px; /* Add space below the title */
}

/* Define styles for card content */
.card-content {
  font-size: 14px;
  color: #666;
}

.addSubClassBTN{
  margin-top: 5px;
}